/* Main Styles */

:root {
    --background-color: #2d6775;
    --primary-color: #41717d9f;
    --secondary-color: #6b737356;
    --border-color: #d4cfd2;
    --accent-color: #2e3157a0;
    --accent-color-light: #fff9cc;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 2%;
    /* padding-bottom: 3.6em; */
    height: 100vh;
    background-color: var(--background-color);
    background-image: linear-gradient(to bottom right, #001b21 0%, #59696ab6 100%);
    font-family: sans-serif;
}

.apptitle {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    align-items: center;
    height: 10%;
    padding-left: 10px;
    margin-left: 2%;
    border-radius: 7px;
    width: 96%;
    /* position:relative; */
    /* left: 1em;
    top: 1em;
    transform: translate(50%, 50%); */
}

.apptitle h1 {
    font-size: 2em;
    margin: 0;
}

.notes {
    /* margin: 40px; */
    padding: 2%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 100%;
}

.sidebar {
    width: 25%;
    background-color: var(--primary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    padding: 1.2em;
    height: 77vh;
    position: relative;
}

.your__notes {
    margin: 0;
    font-size: 1.3em;
    color: white;
    position: absolute;
    left: 1em;
    top: 1em;
    width: 85%;
    /* height: 5%; */
}

.notes_list {
    margin-top: 1.7em;
    height: 96%;
    overflow: scroll;
    padding: 0.6em;
    border-radius: 3px;
}

.list_item {
    background-color: var(--secondary-color);
    /* border: 1px solid var(--secondary-color); */
    border-radius: 5px;
    padding: 0.5em;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.list_item:hover {
    background-color: var(--accent-color);
    transform: translateY(-0.15em);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.list_item--selected {
    animation: noteSelected 0.3s ease-in-out;
    background-color: var(--accent-color);
    border: 1px solid rgb(160, 160, 160);
    border-radius: 5px;
    font-weight: bold;
}

.list_item * {
    color: white;
}

.small_title {
    align-items: center;
    overflow: hidden;
}

.small_body {
    margin-top: 0.5em;
    font-size: 0.9em;
    overflow: hidden;
}

.timestamp {
    margin-top: 0.7em;
    font-size: 0.65em;
    font-style: italic;
    text-align: right;
}

.empty_msg,
.sidebar_empty_msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.7em;
    color: white;
    text-align: center;
}

.sidebar_empty_msg {
    color: white;
    font-size: 0.5em;
}

.preview {
    position: relative;
    flex-grow: 1;
    background-color: var(--primary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    padding: 1.5em;
    height: 77vh;
    overflow: hidden;

    /* display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center; */
    /* display: block; */
}

*::-webkit-input-placeholder {
    color: white;
}

.preview * {
    background-color: transparent;
    color: white;
}

.note_title {
    position: relative;
    width: 100%;
    border: none;
    font-size: 2em;
    font-weight: 520;
    margin-bottom: 0.7em;
    outline: none;
}

.note_body {
    position: relative;
    width: 100%;
    min-height: 75%;
    max-height: 75%;
    border: none;
    font-size: 1.5em;
    outline: none;
    resize: none;
}

.footer {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.speech_instructions {
    font-size: large;
    float: left;
}

.action_buttons {
    max-width: max-content;
}

.btnAdd,
.speech-start,
.speech-stop {
    border: none;
    background-color: var(--secondary-color);
    color: white;
    padding: 0.7em 1.5em;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
    animation: noteSelected 0.3s ease-in-out;
}

.speech-stop {
    display: none;
}

.btnAdd:hover,
.speech-start:hover,
.speech-stop:hover {
    background-color: var(--accent-color);
    transform: translateY(0.15em);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.delico {
    border-radius: 2px;
    height: 1em;
    width: 1em;
    background-color: #dc6565;
    padding: 0.15em;
}

.delBtn {
    margin: 0px;
    float: right;
    color: white;
    visibility: hidden;
    cursor: pointer;
}

.delico:hover {
    background-color: rgb(209, 37, 37);
}

.list_item--selected .delBtn {
    visibility: visible;
}

.list_item:hover .delBtn {
    visibility: visible;
}

#sidebarBtn {
    height: 100%;
    margin: 0px;
    padding: 0.3em;
    font-size: larger;
    cursor: pointer;
    border-radius: 3px;
    display: none;
}

#sidebarBtn:hover {
    background-color: #afafaf5d;
}

@keyframes noteSelected {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.glass {
    background: rgba(0, 0, 0, 0.149);
    /* border-radius: ppx */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
    border: 1px solid rgba(181, 170, 170, 0.477);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}


@media only screen and (max-width:970px) {
    .sidebar {
        width: 30%;
    }
}

@media only screen and (max-width:768px) {

    .sidebar {
        position: absolute;
        transform: translateX(-100%);
        height: 88%;
        bottom: 0%;
        overflow: hidden;
        transition: all ease-in-out 0.25s;
        padding: 0px;
        left: 0;
        z-index: 2;
        /* background-color: #f1f1f1; */
    }

    .preview {
        z-index: 1;
        position: absolute;
        width: 96%;
        height: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -43%);
    }

    .sidebar_visible {
        position: absolute;
        transform: translateX(5%);
        width: 40%;
        height: 88%;
        z-index: 999;
        visibility: visible;
        padding: 1.5em;
        border: 1px solid rgba(172, 172, 172, 0.475);
    }

    #sidebarBtn {
        display: block;
    }
}

@media only screen and (max-width:500px) {

    .sidebar_visible {
        width: 70%;
        transform: translateX(3%);
    }
}